.mg-header {
    width: 100%;
    height: 80px;
    background: rgba(28, 28, 28, 0.74);
    position: absolute;
    top: 0px;
    box-sizing: border-box;
    color: #fff;
    z-index: 999;
}

.mg-header-content {
    width: 100%;
    min-height: 80px;
    padding-top: 15px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}

.mg-header__input {
    font-family: 'Abel', sans-serif;
    border: 1px solid white;
    border-radius: 7px;
    padding: 0 20px;
    margin-right: 20px;
    font-size: 1em;
    float: right;
    top: 7px;
    background: transparent;
    height: 30px;
    color: #fff;
}

.mg-header__input:focus {
    outline: none;
}

.mg-logo {
    float: left;
    max-width: 190px;
    margin: auto 20px;
}

@media screen and (max-width: 720px) {
    .mg-header-content {
        width: 100%;
    }
    .mg-header__input {
        font-size: 1em;
        color: #fff;
        margin-right: 20px;
    }
    .mg-logo {
        display: inline-block;
        margin: 5px 15px 20px;
        width: 160px;
    }

}

@media screen and (max-width: 600px) {
    .mg-header {
        height: 60px;
    }

    .mg-header__content {
        max-width: 1280px;
        min-height: 0px;
    }
    .mg-logo {
        display: inline-block;
        margin: 5px 15px 5px;
        width: 100px;
    }

    .mg-header__input {
        height: 30px;
        font-size: 1em;
    }

}

