.mg-header {
    width: 100%;
    height: 80px;
    background: rgba(28, 28, 28, 0.74);
    position: absolute;
    top: 0px;
    box-sizing: border-box;
    color: #fff;
    z-index: 999;
}

.mg-header-content {
    max-width: 1280px;
    min-height: 80px;
    padding-top: 15px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
}

.mg-fa-search {
    position: absolute;
    left: 20px;
    top: 12px;
    color: #fff;
}

.mg-header__input {
    font-family: 'Abel', sans-serif;
    border: 1px solid white;
    border-radius: 50px;
    padding: 0 20px;
    font-size: 24px;
    float: right;
    top: 7px;
    background: transparent;
    height: 40px;
    color: #fff;
}

.mg-header__input:focus {
    outline: none;
}

@media screen and (max-width: 720px) {
    .mg-header__input {
        font-size: 28px;
        color: #fff;
    }
}

@media screen and (max-width: 600px) {
    .mg-header__content {
        max-width: 1280px;
        min-height: 0px;
    }

    .mg-logo {
        display: inline-block;
        width: 90px;
        margin-top: 0px;
    }
}

.mg-logo {
    float: left;
    width: 190px;
    margin: auto;
}