@media screen and (max-width: 720px) {
    .mg-heroimage {
        width: 100%;
        background-position: center, center;
        background-repeat: no-repeat;
        -webkit-background-size: cover !important;
        background-size: cover !important;
    }
    .mg-heroimage__text {
        max-width: 100%;
    }

    .mg-heroimage__text h1 {
        font-size: 2em !important;
        color: #fff;
    }

    .mg-heroimage__text p {
        font-size: 1em !important;
        line-height: 10px;
        color: #fff;
    }
}


.mg-heroimage {
    background-size: cover !important ;
    background-position: center, center !important ;
    background-repeat: no-repeat !important;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    position: relative;
    animation: animateHeroimage 300ms;
}

@keyframes animateHeroimage {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.mg-heroimage__content {
    max-width: 1280px;
    padding: 20px;
    margin: 0 auto;
}

.mg-heroimage__text {
    z-index: 100;
    max-width: 700px;
    position: absolute;
    bottom: 40vh;
    margin-right: 20px;
    min-height: 100px;
    background: rgba(0, 0, 0, 0.0);
    color: #fff;
    text-align: left;
}

.mg-heroimage__text h1 {
    font-family: 'Abel', sans-serif;
    font-size: 48px;
    color: #fff;
}

.mg-heroimage__text p {
    font-family: 'Abel', sans-serif;
    font-size: 22px;
    line-height: 26px;
    color: #fff;
}

