@media screen and (max-width: 600px) {
    .mg-navigation__sort-menu--wrap {
        left: 10px !important;
        bottom: 275px !important;
    }

    li {
        padding: 7px 7px;
        font-size: 1em !important;
    }
}

.mg-navigation__sort-menu--wrap {
    position: fixed;
    bottom: 275px;
    left: 40px;
}

.mg-navigation__sort-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
    font-size: 1.1em;
}

li.mg-navigation__sort-menu--item:hover, li.mg-navigation__sort-menu--item.active {
    font-weight: bolder;
    border-bottom: 3px solid white;
}